[Unit]
Description=Kubelet

[Service]
Type=simple
WorkingDirectory=/var/lib/kubelet
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/kubelet
ExecStart=/usr/bin/kubelet --config=/etc/kubernetes/manifests $KUBELET_ARGS
Restart=on-abort

[Install]
WantedBy=multi-user.target
